[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
